.app {
  height: 100%;
  padding: 10px;
  animation: fade-in-load 1400ms, ease-in;
}

.head {
  text-align: center;
  font-size: 240%;
  font-family: var(--head-font);
  font-weight: 300;
  color: aliceblue;
}

@keyframes fade-in-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
