@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

:root {
  --head-font: "Aboreto", "sans-serif";
  --body-font: "Dosis", "sans-serif";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(176, 187, 222); */
  background-image: radial-gradient(rgb(162, 186, 230), rgb(101, 115, 141));
  /* background-image: url("../public/assets/pp-cover.jpg"); */
  background-size: cover;
}
